@{
    ViewData["Title"] = "Experiences";
}
<h2>Erfarenheter</h2>
<div class="list-group">
    <p>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Fibertekniker, B&D Networks; stationerad i Bergen, Norge.</h5>
    </div>
    <p class="mb-1">Intervall: November, 2017 - Januari, 2018 </p>
    <small>Referens: Dejan Stefanovic, delägare och fibertekniker </small>
    </p><p>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Truckförare för Swedpaper AB </h5>
    </div>
    <p class="mb-1">Intervall: Juni 2018 - Augusti 2018 </p>
    <small class="text-muted">Per Möller, planering och arbetsledning </small>
    </p><p>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Truckförare för Yilport Gävle</h5>
    </div>
    <p class="mb-1">Intervall: Jan 2019 - nutid</p>
    <small class="text-muted">Referens Johan Flybring, terminalchef</small>
    </p>
</div>

