@{
    ViewData["Title"] = "CV";
}
<h2>Mitt CV</h2>
<h4>Introducering</h4>
<div class="container-fluid">
    <p class="lead">
    Mitt intresse för datorer startade vid tidig ålder och jag kommer från en stor familj där jag lärde mig att kompromissa tidigt.
    Mina starka sidor är att jag är lugn, metodisk och stresstålig. Som nummer tre i en brödraskara på fyra har jag fått lära mig att argumentera för min sak.
    </p>
    <h4>Språk:</h4>
    <ul>
      <li>Svenska (flytande i tal och skrift, modersmål)</li>
      <li>Engelska (mycket bra i tal och skrift) </li>
    </ul>
    <h4>Övriga meriter:</h4>
    <ul class="list-unstyled">
      <li>Fotbollstränare för IK Huge p-98 år 2010. </li>
      <li>Varit aktiv inom idrottsföreningar; fotboll och innebandy från tidig ålder tills jag blev myndig. </li>
    </ul>
</div>
